.gpt3__brand
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* opera 11.10+ */
  background:-o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* ie 10+ */
  background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* global 92%+ browsers support */
  background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
}

.gpt3__brand div
{
    flex: 1;
    max-width: 150px;
    min-height: 120px;
    margin: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.gpt3__brand img {
    height: 50px;
}

@media screen and (max-width: 550px) {
    .gpt3__brand img {
        height: 20px;
    }
}